:root {
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;
}

.usecase {
    background:#fff;
    border-collapse:collapse;
    text-align:left;
    margin:1em;
}
.usecase th{
    vertical-align: top;
    font-size:100%;
    font-weight:normal;
    background-color:#CDF;
    border-bottom:1px 
    solid #ccc;
    padding:0.5em 0.4em;
}
.usecase td{
    border-bottom:1px solid #ccc;
    font-size: 100%;
    padding:0.3em 0.4em;
}
.usecase tbody tr:hover td{
    background-color:#E6EEFF;
}

/*wrongphase is used to mark up elements that are from the wrong phase of the engineering process - implementaton or design mentioned in requirements, for example*/
.wrongphase {
    color: #ccc;
}

/*This hidden class allows me to mark anything I need to as undisplayed*/
.hidden
{
    visibility:hidden
}

/*The preliminary design is stored in an unordered list of definition lists. The dt is the item name. I have the comment and the why-needed classes separately */
ul.prelim-design, .prelim-design ul
{
    margin: 2em 0;
    width: 40em;
    list-style-type: none;
}


.prelim-design dt.item-name
{
    background-color: #000000;
    color: #959289;
    padding: .5em;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
}
	
.prelim-design dd.why-needed, .prelim-design dd.comment
{
    margin: 0 0 0 0;
    background: #DBD8D8;
    text-align: left;
    padding: 1em .5em;
    font-style: italic;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
